ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: rgb(75, 156, 82);
        padding: 1em;
        margin-right: 10px;
        width: 20%;
        height: 150px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
            color: snow;
        }

        p.name {
            font-weight: bold;
            font-size:1.4vw;
        }
        p.country {
            font-size: 1vw;
            flex-grow: 1;
        }

        a.site {
            text-decoration: none;
            font-weight: bold;
            color: #b2ff6a;
            font-size: 1.2vw;
        }
    }
}